.logo {
  margin: 4em 0;
}

label {
  font-size: 1.2em;
}

form {
  border: 1px solid lightgray;
  padding: 4em;
}

button {
  margin-top: 1em;
}

.logo {
  height: 100px;
  width: auto;
  padding: 0px 40px;
}
