
.input-container {
  margin: 3em auto 8em;
  width: 300px;
  height: 5em;
}

.search-btn {
  margin: 0 1em;
}

mat-form-field {
  width: 50%;
}

.create-btn {
  margin-top: 2em;
  margin-right: 1em;
}

.logo-image {
  height: 24px;
  width: 24px;
}

hr {
  margin-top: 3em;
}

app-builds {
  width: 80%;
}
